{{ define "main" }}

<section class="blog-section">

<div class="container">


<h1 class="page-title">{{ .Title }}</h1>

{{ $posts := where .Site.RegularPages "Section" "blog" }}

{{ $paginator := .Paginate $posts }}

<div class="blog-layout">

    <div class="blog-main">

        <div class="blog-grid">

            {{ range $paginator.Pages }}

            <article class="blog-card">

                {{ with .Resources.GetMatch "cover.*" }}

                    {{ $thumb := .Resize "800x" }}

                    <div class="blog-image">

                        <img
                            src="{{ $thumb.RelPermalink }}"
                            alt="{{ $.Title }}">

                    </div>

                {{ end }}

                <div class="blog-card-content">

                    <h2>
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </h2>

                    <p class="blog-meta">

                        {{ .Date.Format "January 2, 2006" }}

                        

                        {{ .ReadingTime }} min read

                    </p>

                   <p>
                     {{ .Summary | truncate 150 }}
                     </p>

                    <a class="read-more" href="{{ .RelPermalink }}">

                        Read More →

                    </a>

                </div>

            </article>

            {{ end }}

        </div>

        <div class="pagination">

            {{ template "_internal/pagination.html" . }}

        </div>

    </div>

    <aside>

        {{ partial "blog-sidebar.html" . }}

    </aside>

</div>


</div>

</section>

{{ end }}