<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalBusiness",
  "@id": "https://zhenchikalpa.com/#clinic",
  "name": "Zhenchi Kalpa Acupuncture Clinic",
  "url": "https://zhenchikalpa.com",
  "telephone": "+91-90473-53999",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "25/4 First Floor Car Street",
    "addressLocality": "Maduranthagam",
    "addressRegion": "Tamil Nadu",
    "postalCode": "603306",
    "addressCountry": "IN"
  }
}
</script>