<!DOCTYPE html>
<html lang="en">
<head>
 {{ partial "schema.html" . }}
<meta charset="UTF-8">
<link rel="canonical" href="https://zhenchikalpa.com/" />
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<title>{{ .Title }} | {{ .Site.Title }}</title>
<!-- 
<meta name="description" content="{{ .Summary }}">
-->
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">

<link rel="stylesheet" href="/css/style.css">

<!-- this is for google analytics-->

{{ template "_internal/google_analytics.html" . }}
<!-- this is for google search engine -->


<script type="application/ld+json">
{
 "@context":"https://schema.org",
 "@type":"MedicalBusiness",
 "name":"{{ .Site.Params.clinicName }}",
 "address":{
   "@type":"PostalAddress",
   "addressLocality":"{{ .Site.Params.clinicCity }}",
   "addressRegion":"{{ .Site.Params.clinicState }}",
   "addressCountry":"{{ .Site.Params.clinicCountry }}"
 },
 "telephone":"{{ .Site.Params.phone }}"
}
</script> 

</head>

<body>

{{ partial "header.html" . }}

<main>
{{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}
{{ partial "whatsapp.html" . }}

</body>
</html>